.register {
    padding: 16px;
    border: 2px solid var(--primario-claro);
    border-radius: 16px;
}

.formulario {
    display: flex;
    margin: auto;
    max-width: 100%;
}

form .nombre {
    float: left;
    width: 48%;
}

form .apellido {
    float: right;
    width: 48%;
}

form a.botones-especiales {
    width: 100%;
    text-align: center;
    transition: all 0.3s;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 16px;
    margin: 24px auto;
    background-color: var(--primario-claro);
    color: white;
}

